# Datasets (Users will download from Kaggle)
*.csv

# Saved PyTorch Model Weights (Users will download from Releases)
*.pth

# Custom Test Images 
*.jpg
*.jpeg
*.png

# Python Cache files
__pycache__/